.html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #333;
  --color-default: #9d5cd0;
  --color-light:#d1a9f0;
  --color-active: #7943a4;
}

img {
  width: 100%;
}

body {
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  background-color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* glob */

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition-property: background-color, box-shadow;
  transition: 0.3s ease-in-out;
}

.btn:focus,
.btn:hover {
  outline: none;
}

.btn:active {
  background-color: var(--color-active);
}

.splide__arrow {
  background: none;
  width: 50px;
}

.splide__arrow--prev {
  left: 3px
}

.splide__arrow--next {
  right: 3px;
}

.splide__arrow svg {
  width: 50px;
  height: 50px;
}

.splide__arrow svg path {
  transition: fill 0.3s ease-in-out;
}

.splide__arrow svg path {
  fill: var(--color-white);
}

.splide__arrow-black svg path {
  fill: var(--color-black);
}

.splide.is-focus-in .splide__arrow:focus {
  outline: none;
}

.splide.is-focus-in .splide__arrow:focus svg path {
  fill: var(--color-default);
}

.splide__arrow:hover svg path {
  fill: var(--color-default);
}

.splide__arrow:active svg path {
  fill: var(--color-active);
}

/* header */

.header {
  background-color: var(--color-black);
}

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.header__logo {
  margin-right: 179px;
  max-width: 173px;
  max-height: 40px;
}

.header__nav {
  margin-right: auto;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 96px;
}

.header__link {
  position: relative;
  z-index: 3;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.header__link::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background-color: var(--color-active);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.header__link:focus {
  outline: none;
}

.header__link:focus-visible::before {
  opacity: 1;
}

.header__link:hover {
  color: #c283f3;
}

.header__link:hover::before {
  opacity: 0;
}

.header__link:active {
  color: var(--color-active);
}

.header__button-search {
  width: 28px;
  height: 28px;
  z-index: 3;
}

.header__button-search::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background-color: var(--color-active);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.header__button-search svg rect,
.header__button-search svg path {
  transition: fill 0.3s ease-in-out ;
}

.header__button-search:focus-visible::before {
  opacity: 1;
}

.header__button-search:hover svg rect {
  fill: #c283f3;
}

.header__button-search:hover svg path {
  fill: #c283f3;
}

.header__button-search:hover::before {
  opacity: 0;
}

.header__button-search:active {
  background-color: transparent;
}

.header__button-search:active svg rect {
  fill: var(--color-default);
}

.header__button-search:active svg path {
  fill: var(--color-default);
}

.header__button-search.search-active {
  display: none;
}

.header__search-wrap {
  display: none;
}

.header__search-wrap.search-active {
  display: flex;
  position: absolute;
  right: 0;
  width: 540px;
  height: 60px;
  padding-left: 32px;
  align-items: center;
  background-color: var(--color-white);
  z-index: 10;
}

.header__input-search {
  width: 430px;
  margin-right: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  border: none;
  border-bottom: 1px solid var(--color-black);
}

.header__input-search:focus {
  outline: none;
}

.header__button-search--active {
  margin-right: 20px;
}

.search__btn,
.close__btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search__btn svg path {
  transition: stroke 0.3s ease-in-out;
}

.search__btn svg rect {
  transition: fill 0.3s ease-in-out;
}

.search__btn:focus-visible {
  outline: 2px solid var(--color-default);
  outline-offset: 2px;
}

.search__btn:hover {
  outline: none;
}

.search__btn:hover svg path {
  stroke: var(--color-default);
}

.search__btn:hover svg rect {
  fill: var(--color-default);
}

.search__btn:active {
  background-color: transparent;
}

.search__btn:active svg path {
  stroke: var(--color-active);
}

.search__btn:active svg rect {
  fill: var(--color-active);
}

.close__btn svg rect {
  transition: fill 0.3s ease-in-out;
}

.close__btn svg circle {
  transition: stroke 0.3s ease-in-out;
}

.close__btn:focus {
  outline: 2px solid var(--color-default);
  outline-offset: 2px;
}

.close__btn:hover {
  outline: none;
}

.close__btn:hover svg rect {
  fill: var(--color-default);
}

.close__btn:hover svg circle {
  stroke: var(--color-default);
}

.close__btn:active svg rect {
  fill: var(--color-active);
}

.close__btn:active svg circle {
  stroke: var(--color-active);
}

/* hero */

.hero__bg {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/hero-bg.jpg);
}

.hero__content {
  max-width: 556px;
  padding: 145px 0;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 0.94444;
  color: var(--color-white);
}

.hero__descr {
  margin: 0;
  margin-bottom: 94px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66667;
  color: var(--color-white);
}

.hero__btn {
  padding: 23.5px 35px;
  border-radius: 100px;
  background-color: var(--color-default);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white);
}

.hero__btn::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.hero__btn:focus-visible::before {
  opacity: 1;
}

.hero__btn:hover {
  box-shadow: inset 0 0 0 3px var(--color-light);
}

/* about */

.about__content {
  max-width: 1080px;
  padding: 87px 0 70px 0;
}

.about__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-grey);
}

.about__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: var(--color-grey);
}

/* gallery */

.gallery {
  margin-bottom: 85px;
}

.gallery__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 85px 160px 80px 160px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/gallery-bg.jpg);
}

.gallery__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-white);
}

.gallery__content {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.gallery__checkbox {
  display: block;
  user-select: none;
  cursor: pointer;
}

.gallery__checkbox-input {
  appearance: none;
  position: absolute;
}

.gallery__checkbox-text {
  position: relative;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.gallery__checkbox-text::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%; /* квадратик ровно по вертикали */
  transform: translateY(-50%); /* квадратик ровно по вертикали */
  width: 11px;
  height: 11px;
  border: 1px solid var(--color-white);
  transition: border 0.3s ease-in-out;
}

.gallery__checkbox-text::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-image: url('/img/gallery-checkbox.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__checkbox-input:checked + .gallery__checkbox-text::after { /* через + добрались до соседнего класса */
  opacity: 1;
}

/* focus */
.gallery__checkbox-input:focus + .gallery__checkbox-text::before {
  border: 1px solid #c283f3;
}

.gallery__checkbox-input:focus + .gallery__checkbox-text {
  color: #c283f3;
}

/* hover */
.gallery__checkbox-input:hover + .gallery__checkbox-text::before {
  border: 1px solid #c283f3;
}

/* active */
.gallery__checkbox-input:active + .gallery__checkbox-text {
  color: #c283f3;
}

.gallery__right {
  max-width: 1150px;
}

.gallery__card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* catalog */

.catalog {
  margin-bottom: 85px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-grey);
}

.catalog__descr {
  margin: 0;
  max-width: 1080px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: var(--color-grey);
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.catalog__art-link {
  position: relative;
}

.catalog__art-link::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 2px solid #C283F3;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.catalog__art-link:focus {
  outline: none;
}

.catalog__art-link:focus-visible::before {
  opacity: 1;
}

.catalog__art-link:hover::before {
  opacity: 0;
}

.catalog__art-content {
  display: flex;
  align-items: center;
  height: 470px;
}

.catalog__art-pic {
  margin-right: 50px;
  min-width: 750px;
  height: 470px;
}

.catalog__art-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog__art-right {
  max-width: 800px;
}

.catalog__art-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  color: var(--color-grey);
}

.catalog__art-time {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  color: #999;
}

.catalog__art-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: var(--color-grey);
}

/* events */

.events {
  margin-bottom: 83px;
}

.events__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;
  max-height: 780px;
}

.events__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-grey);
}

.events__card {
  min-height: 700px;
  border: 1px solid #cacaca;
}

.events__card-top {
  height: 300px;
}

.events__card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.events__card-bottom {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  padding: 14px 50px 47px 50px;
}

.events__card-place {
  display:block;
  font-weight: 600;
  font-size: 12px;
  color: #999;
}

.events__card-time {
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #999;
}

.events__card-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--color-grey);
}

.events__card-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: var(--color-grey);
}

.events__card-link {
  position: relative;
  margin-right: auto;
  z-index: 3;
  color: var(--color-default);
  border-bottom: 1px solid var(--color-default);
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.events__card-link::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -7px;
  right: -7px;
  background-color: var(--color-default);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.events__card-link:focus {
  outline: none;
}

.events__card-link:focus-visible {
  color: var(--color-white);
  border-bottom: 2px solid var(--color-white);
}

.events__card-link:focus-visible::before {
  opacity: 1;
}

.events__card-link:hover {
  color: var(--color-active);
  border-bottom: 2px solid var(--color-active);
}

.events__card-link:hover::before {
  opacity: 0;
}

.events__card-link:active {
  color: var(--color-grey);
  border-bottom: 2px solid var(--color-grey);
}

/* projects */

.projects {
  margin-bottom: 77px;
}

.projects__title-main {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-grey);
}

.projects__descr {
  margin: 0;
  margin-bottom: 30px;
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: var(--color-grey);
}

.projects__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--color-grey);
}

.projects__list {
  display: flex;
  gap: 34px;
}

/* contacts */

.contacts {
  border: 1px solid #cacaca;
}

.contacts__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 0;
}

.contacts__address-name {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--color-grey);
}

.contacts__address-place {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: var(--color-grey);
}

.contacts__form {
  display: flex;
  gap: 20px;
  height: 50px;
}

.contacts__form-input {
  min-width: 242px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  border: 1px solid var(--color-grey);
  border-radius: 100px;
  background-color: var(--color-white);
  color: var(--color-grey);
  transition-property: background-color, color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.contacts__form-input:focus,
.contacts__form-input:hover {
 outline: none;
 background-color: #ececec;
}

.contacts__form-input:active {
 outline: none;
 color: var(--color-white);
 background-color: #ececec;
}

.contacts__form-btn {
  padding: 12.5px 36px;
  background-color: transparent;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-default);
}

.contacts__form-btn::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.contacts__form-btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid var(--color-default);
  border-radius: 100px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.contacts__form-btn:focus-visible::before {
  opacity: 1;
}

.contacts__form-btn:hover {
  background-color: var(--color-default);
  color: var(--color-white);
}

.contacts__form-btn:active {
  background-color: var(--color-active);
  box-shadow: inset 0 0 0 3px var(--color-light);
}

.contacts__form-btn:active::after {
  opacity: 0;
}

.contacts__social-list {
  display: flex;
  gap: 20px;
}

.contacts__social-text {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--color-grey);
}

.contacts__social-link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
}

.contacts__social-link::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--color-default);
  border-radius: 40px;
  opacity: 0;
}

.contacts__social-link:focus {
  outline: none;
}

.contacts__social-link:focus .svg__green {
  fill: #a9ffaf;
}

.contacts__social-link:focus .svg__blue {
  fill: #95dcff;
}

.contacts__social-link:hover .svg__green {
  fill: #a9ffaf;
}

.contacts__social-link:hover .svg__blue {
  fill: #95dcff;
}

.contacts__social-link:active .svg__green {
  fill: #30BF39;
}

.contacts__social-link:active .svg__blue {
  fill: #26A5E4;
}

.contacts__social-link:active::after {
  opacity: 1;
}

/* contacts-map */

.contacts__map {
  height: 500px;
  width: 100%;
  background-color: var(--color-grey);
}

/* скрытие элементов copyright */
[class*="copyrights-pane"] {
  display: none !important;
}
/* черно-белая карта */
[class*="ground-pane"] {
  filter:grayscale(1);
}

/* footer */

.footer {
  background-color: var(--color-black);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 160px;
}

.footer__logo-img {
  width: 173px;
  height: 40px;
}

.footer__right {
  display: flex;
  gap: 20px
}

.footer__right-link {
  display: block;
  width: 45px;
  height: 45px;
}

.footer__right-link:focus {
  outline: none;
}

.footer__right-link:focus svg path {
  fill: var(--color-white);
}

.footer__right-link:hover svg path {
  fill: var(--color-white);
}

.footer__right-link:active svg path {
  fill: var(--color-default);
}

