.html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-default: #9d5cd0;
  --color-active: #7943a4;
}

img {
  width: 100%;
}

body {
  margin: 0 auto;
  font-family: 'OpenSans', sans-serif;
  background-color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

/* glob */

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.splide__arrow {
  background: none;
}

/* header */

/* hero */

/* about */

/* gallery */

.gallery__card {
  min-height: 350px;
}

.gallery__card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* catalog */

.catalog__art-time {
  font-weight: 400;
  font-size: 12px;
  color: #999;
}


/* events */

.events__card {
  min-height: 700px;
  border: 1px solid #cacaca;
}

.events__card-top {
  height: 300px;
}

.events__card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* projects */

/* contacts */

/* footer */





